/*h1 a, h2 a {
  font-size: 16px;
  padding-top: 100px;
  width: 100%;
  font-family: 'Ultra';
}

.page-header h1 {
    padding-left: 20px;
    font-family: 'Ultra', serif;
    font-size: 66px;
}

body {
    background-color: #fca311;
    background-image: linear-gradient(45deg, #fca311, #ffba08);
}

.page-header {
  padding-top: 10px;
  padding-bottom: 40px;
  margin-top: 0px;
  border-top: -15px;
  width: 100%;
  height: 15%;
  background: #000000;
  color: #fca311;
}

.page-header ul {
    list-style-type: none;
    margin-top: -40px;
    padding-top: -10px;

}

.page-header h1, .page-header h1 a,  .page-header h1 a:active, .page-header h1 a :visited {
    color: #FFF;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 20px;
}

.date {
    color: #FFF;
    font-size: 10pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:visited {
    color: #FFF;
    float: right;
    font-size: 16pt;
    padding-top: 10px;
    padding-right: 15px;
}
.top-menu:hover {
    color: #e5e5e5;
    font-size: 18pt;
}

.post {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #FFF;
    font-size: 22pt;
}

.post p {
    color: #370617;
}

.navigator a {
    font-family: Georgia;
    color: #FFF;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 12pt;
    float: right;

}

.navigator a:hover {
    color: #e5e5e5;
    font-size: 18pt;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}
*/
